<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<h2>Coment치rios:</h2>
<%= render @article.comments %>

<h2>Novo Coment치rio:</h2>
<%= form_for([@article, @article.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter, 'Nome' %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body, 'Coment치rio' %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit 'Salvar Coment치rio' %>
  </p>
<% end %>

<%= link_to 'Editar', edit_article_path(@article) %> |
<%= link_to 'Voltar', articles_path %>
