<h1>Blog Posts</h1>

<%= link_to 'Novo Post', new_article_path %>

<table>
  <tr>
    <th>Título</th>
    <th>Texto</th>
    <th colspan="2"></th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Visualizar', article_path(article) %></td>
      <td><%= link_to 'Editar', edit_article_path(article) %></td>
      <td><%= link_to 'Deletar', article_path(article),
              method: :delete,
              data: { confirm: 'Quer mesmo deletar o Post?' } %></td>
    </tr>
  <% end %>
</table>
