<div class="container">
<p>
  <strong>Título:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Texto:</strong>
  <%= @article.text %>
</p>

<h2>Comentários:</h2>
<% @article.comments.each do |comment| %>
  <p>
    <strong>Nome:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Comentário:</strong>
    <%= comment.body %>
  </p>
<% end %>

<h2>Novo Comentário:</h2>
<%= form_for([@article, @article.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter, 'Seu nome' %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body, 'Comentário' %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit 'Salvar Comentário' %>
  </p>
<% end %>

<%= link_to 'Editar', edit_article_path(@article) %> |
<%= link_to 'Voltar', articles_path %>
</div>
